body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  /* letter-spacing: 0.02em; */
  background-color: #ffffff;
  color: #434455;
}

ul {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 700;
  font-size: 36px;
}

.title_section {
  text-align: center;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* HEADER */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.16667;
  color: #4d5ae5;
}

.logo_header {
  color: #2e2f42;
}

.logo_footer {
  color: #f4f4fd;
}

.navigate {
  font-weight: 500;
}

.navigate_link {
  font-weight: 500;
  color: #2e2f42;
}

.navigate_link:hover {
  color: #404bbf;
}

.navigate_link:focus {
  color: #404bbf;
  border-bottom: 4px solid #404bbf;
}

.address_link {
  color: #434455;
}

.address_link:hover {
  color: #404bbf;
}

.address_link:focus {
  color: #404bbf;
}
/* INTRO */

.intro {
  background-color: #2e2f42;
}

.intro_text {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.intro_btn {
  cursor: pointer;
  letter-spacing: 0.04em;
  font-weight: 500;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  color: #ffffff;
}

.intro_btn:hover {
  background: #404bbf;
}

.intro_btn:focus {
  background: #404bbf;
}

/* FEATURES */

.feature_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* TEAME  */

.team_bc {
  background-color: #f4f4fd;
}

.team_list {
  background-color: #fff;
}

.employees_name {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.employees_business {
  text-align: center;
}

/* PORTFOLIO */

.portfolio_title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* FOOTER */

.footer_bc {
  background-color: #2e2f42;
}

.footer_text {
  color: #f4f4fd;
}
